{
	name:	"Bootloader",
	offset:	0x0,
	size:	0x80000,
	read_only: true,
}, {
	name:	"BootEnv",
	offset: 0x80000,
	size:	0x40000,
	read_only: true,
}, {
	name:	"Factory",
	offset:	0x1c0000,
	size:	0x40000,
}, {
	name:	"Firmware",
	offset:	0x200000,
	size:	0x1000000,
}, {
	name:	"Config",
	offset:	0xc0000,
	size:	0x100000,
}, {
	name:	"Storage",
	offset: 0x1200000,
	size:	0x400000,
}, {
	name:	"RWFS",
	offset:	0x1600000,
	size:	0xE980000,
}
